body{
    background-color:gray;
    margin:0;
    height:100vh;
}




.page{
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows:1fr 1fr;
    border:solid green 1px;
}

.title{
    border:solid blue 2px;
    grid-area:1/1/2/2;
    font-size:80px;
    margin:auto;
}

.keycontainers{
    height:200px;
    border:solid purple 2px;
    display:grid;
    grid-template-columns:repeat(8, 1fr);
    grid-template-rows:1fr 1fr;
    text-align:center;
}

.key{
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:16px;
    border:solid black 2px;
    gap:5px;
}
