body{
    background-image: linear-gradient(lightgray, blue);
    margin:0;
    height:100vh;
}




.page{
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows:1fr 1fr;
    
}

.title{
    border:groove green 10px;
    grid-area:1/1/2/2;
    font-size:80px;
    margin:auto;
}

.keycontainers{
    margin:2%;
    height:200px;
    display:grid;
    grid-template-columns:repeat(8, 1fr);
    grid-template-rows:1fr 1fr;
    text-align:center;
    row-gap:15px;
    gap:15px;
}

.key{
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:16px;
    border:solid black 2px;
    background-color:white;
    box-shadow: 4px 4px;
    border-radius:8px;
    
}

.sound{
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:16px;
    border:solid  black 2px;
    background-color:white;
    box-shadow: 4px 4px;
    border-radius:8px;


}

